<template name="errandsTabbar">
	{{#if Template.subscriptionsReady}}
		{{#unless hasErrands}}
			<div class="list-view errands-list flex-tab__header">
				<h2>{{_ "No_errands_yet"}}</h2>
			</div>
		{{/unless}}
	{{/if}}
	<div class="flex-tab__result errands-list js-list">
		<ul class="collection">
			{{#each err in errands}}
				{{> errand err=err groupable=false}}
			{{/each}}
		</ul>

		{{#if hasMore}}
			<div class="load-more">
				{{> loading}}
			</div>
		{{/if}}
	</div>
</template>

<template name="errand">
	<li id="{{templatePrefix}}{{err._id}}" data-context={{actionContext}} data-id="{{err._id}}" class="message {{ignoredClass}} {{system}} {{t}} {{own}} {{isTemp}} {{chatops}} {{collapsed}} {{customClass}}" data-username="{{err.initiatedBy.username}}" data-timestamp="{{err.ts}}">
			<button aria-label="{{err.initiatedBy.username}}" class="thumb user-errand-initiated-card-message " data-username="{{err.initiatedBy.username}}">
				<div class="avatar">
					<div class="avatar-image" style="background-image:url('avatar/{{err.initiatedBy.username}}')"></div>
				</div>
			</button>
			<div class="message-body-wrapper">
				<div class="title border-component-color color-info-font-color">
					<button type="button" class="user user-errand-initiated-card-message color-primary-font-color" data-username="{{err.initiatedBy.username}}" tabindex="1">
						{{err.initiatedBy.username}}
					</button>
					<time class="time" title='{{date}} {{time}}' datetime='{{date}} {{time}}'>{{formatDateAndTime err.ts}}</time>
				</div>
			</div>
		<div class="body color-primary-font-color indent" dir="auto">
			<div class="rc-ui-kit">{{err.desc}}</div>
		</div>
		<div class="rc-ui-kit">
			<div>{{_ "Errand_Charged_to"}}: </div>
				<button type="button" class="user user-errand-charged-card-message color-primary-font-color" data-username="{{err.chargedToUser.username}}" tabindex="1">
					{{err.chargedToUser.username}}
				</button>
		</div>
		<div class="rc-ui-kit">
			<div>{{_ "Status"}}: {{_ err.t}}</div>
			<div>{{_ "Errand_Expired_date"}}: {{formatDate err.expireAt}}</div>
		</div>
	</li>
</template>
