<template name="home">
	<section class="page-container page-home page-static content-background-color">
		<!-- <button class="js-button-back">
			{{> icon icon="back" }}<h3 style="display: contents; font-size: 18px;"> {{title}}</h3>
			{{> header sectionName=title}}
		</button> -->
<!--		<div class="content">-->
<!--			{{{body}}}-->
<!--		</div>-->
		<div class="grid-of-icons">
			{{> gridOfIcons}}
		</div>
	</section>
</template>

<template name="gridOfIcons">
	<div style='margin-block-end: 20px;'>
		{{#if notHome}}
			<button class="js-button-back go-back-button" style="width: 56px; height: 45px; text-align: center;">
				{{> icon icon="back" }}
			</button>
			<p1 style="display: contents; font-size: 1.375rem;"> {{title}}</p1>
		{{/if}}
	</div>
	<ul class="cbp-ig-grid">
		{{#each toolbarButtons}}
			<li class="cbp-ig-grid__elem">
				<button class="cbp-ig-grid__elem-button js-button">
					<button class="cbp-ig-grid__elem_icon" title="{{name}}" aria-haspopup="{{hasPopup}}">
						{{> icon block="sidebar__toolbar-button-icon" icon=icon }}
					</button> <br>
					<h3 class="cbp-ig-title">{{name}}</h3>
				</button>
			</li>
		{{/each}}
	</ul>

</template>