#sidebar {
	transition: all 0.15s cubic-bezier(0.5, 0, 0.1, 1);
}

.pre-header {
    height: 63px;
    text-align: right;

    padding: 12px 18px;
}

.pre-header .icon {
    font-size: 24px;
    color: var(--rooms-list-title-color);
}

.sidebar.hidden {
    flex: 0 0 1%;
    width: 70px;
}

.sidebar.hidden .sidebar__footer {
    width: 70px;
    height: 76px !important;
}

.sidebar.hidden .sidebar__header .sidebar__toolbar,
.sidebar.hidden .rooms-list .rooms-list__type,
.sidebar.hidden .rooms-list .rooms-list__list,
.sidebar.hidden .rooms-list .rooms-list__type.type-d .rooms-list__type-text {
	display: none;
}
.sidebar.hidden .rooms-list .rooms-list__type.type-d,
.sidebar.hidden .rooms-list .rooms-list__type.type-d .icon {
	display: block !important;
}

.sidebar:not(.hidden) .sidebar__footer .small-logo {
    display: none;
}

.sidebar.hidden .rooms-list__type.type-d {
    padding: 6px 18px;
}

.rooms-list__type.type-d:hover {
    background-color: var(--rc-color-primary-darkest) !important;
}

.rooms-list__type.type-d .icon {
    font-size: 24px;
    color: var(--rooms-list-title-color);
}

.rooms-list__type.type-d {
    cursor: pointer;
    justify-content: unset !important;
}
