<template name="ErrandDetails">

	<section class="create-channel">
		<div class="create-channel__wrapper">
			<p class="create-channel__description">{{_ "Errand_details_description"}}</p>
			<form id="create-errand" class="create-channel__content">


				<div class="create-channel__inputs" >
					<div class="rc-input" disabled>
						<label class="rc-input__label">
							<div class="rc-input__title">{{_ "Errand_Initiated_by"}}</div>
							<div class="rc-input__wrapper">
								<input disabled name="initiatedUser" id="initiatedUser" value={{ejectUsername initiatedUser}} class="rc-input__element" />
							</div>
						</label>
					</div>
					{{#if editIsDisabled}}
						<div class="rc-input" disabled>
							<label class="rc-input__label">
								<div class="rc-input__title">{{_ "Errand_Charged_to"}}</div>
								<div class="rc-input__wrapper">
									<input disabled name="chargedUser" id="chargedUser" value={{ejectUsername chargedToUser}} class="rc-input__element" />
								</div>
							</label>
						</div>
					{{else}}
						{{> SearchUsersForErrandDetails
								onClickTag=onClickTagUser
								deleteLastItem=deleteLastItemUser
								list=chargedUsers
								onSelect=onSelectUser
								collection='UserAndRoom'
								endpoint='users.autocomplete'
								field='username'
								sort='username'
								label="Errand_Charged_to"
								placeholder="Username_Placeholder"
								name="usersCharged"
								icon="at"
								noMatchTemplate="userSearchEmpty"
								templateItem="popupList_item_default"
								modifier=userModifier
						}}
					{{/if}}
					<div class="rc-input">
						<label class="rc-input__label">
							<div class="rc-input__title">{{_ "Description"}}</div>
							<div class="rc-input__wrapper">
								<textarea {{ editIsDisabled }} rows="5" name="errand_description" id="errand_description" class="rc-input__element" placeholder="{{_ 'Errand_description_placeholder'}} "
															   maxlength="{{maxDescriptionLength}}" value="{{errandDescription}}"></textarea>
							</div>
						</label>
					</div>

					<div class="rc-input">
						<label class="rc-input__label">
							<div class="rc-input__title">{{_ "Started_At"}}</div>
							<div class="rc-input__wrapper">
								<div class="rc-input__icon">
									{{> icon block="rc-input__icon-svg" icon="calendar"}}
								</div>
								<input type="text" placeholder="{{_ "Started_At" }}" autocomplete="off" id="started_date" name="started__date" class="rc-input__element" value="{{createdDate}}" disabled>
							</div>
							<!--<div class="rc-input__wrapper">
								<input autocomplete="off" type="text" placeholder="{{_ "Date_From"}}" autocomplete="off" id="from" name="from" >
							</div>-->
						</label>
					</div>
					<div class="rc-input">
						<label class="rc-input__label">
							<div class="rc-input__title">{{_ "Errand_Expired_date"}}</div>
							<div class="rc-input__wrapper">
								<div class="rc-input__icon">
									{{> icon block="rc-input__icon-svg" icon="calendar"}}
								</div>
								<input type="text" placeholder="{{_ "Errand_Expired_date" }}" autocomplete="off" id="expired_date" {{ editIsDisabled }} name="expired__date" class="rc-input__element" value="{{expiredDate}}">
							</div>
						</label>
					</div>
					<label class="rc-input__label">
						<div class="rc-input__title">{{_ "Status"}}</div>
						<div class="rc-select">
							<select class="rc-select__element" name="select_status" autocomplete="off" {{statusIsDisabled}}>
								{{#each value in statuses}}
									<option class="rc-select__option" value="{{value}}" selected="{{ $eq status value}}">{{_ value}}</option>
								{{/each}}
							</select>
							{{> icon block="rc-select__arrow" icon="arrow-down" }}
						</div>
					</label>
				</div>
			</form>
			<div class="rc-input">
				<button form="create-errand" class="rc-button rc-button--primary js-save-errand {{createIsDisabled}}" {{createIsDisabled}}>{{_ "Save"}}</button>
			</div>
		</div>
	</section>
</template>


<template name="SearchUsersForErrandDetails">
	<div class="rc-input" id='search-{{name}}' {{disabled}}>
		<label class="rc-input__label">
			<div class="rc-input__title">{{_ label}}</div>
			<div class="rc-input__wrapper">
				{{# if icon}}
					<div class="rc-input__icon">
						{{> icon block="rc-input__icon-svg" icon=icon}}
					</div>
				{{/if}}
				<div class="rc-tags{{# unless icon}} rc-tags--no-icon{{/unless}}">
					{{#each item in list}} {{> tag item}} {{/each}}
					<input type="text" id="{{name}}" class="rc-tags__input" placeholder="{{_ placeholder}}" name="{{name}}" autocomplete="off" {{disabled}} />
				</div>
			</div>
			{{#with config}}
				{{#if autocomplete 'isShowing'}}
					{{> popupList data=config items=items ready=(autocomplete 'isLoaded')}}
				{{/if}}
			{{/with}}
		</label>
		<div class="rc-input__description">{{ description }}</div>
	</div>
</template>



