.message-discussion {
	display: flex;

	padding: 0.5rem 0;
	align-items: center;
}

.discussion-reply-lm {
	padding: 4px 8px;

	color: var(--color-gray);

	font-size: 12px;
}

.discussions-list .load-more {
	text-align: center;
	text-transform: lowercase;

	font-style: italic;
	line-height: 40px;
}

& .errand__wrapper {
	  display: flex;
	  flex-direction: row;

	  font-size: 0.75rem;

	  align-items: center;

		& .edited {
			  margin-left: 3px;
		  }

		& .is-bot,
		& .role-tag {
			  margin: 0 3px;
			  padding: 1px 4px;

			  border-width: 1px;

			  border-radius: var(--border-radius);
			  background: #ffffff;

			  line-height: initial;
		  }

		& .errand {
			  margin: 0 3px;
			  padding: 1px 4px;

			  border-width: 1px;

			  border-radius: var(--border-radius);
			  background: orangered;

			  line-height: initial;
		  }

		& .rc-small__input {
			  padding-top: 2px;
			  padding-bottom: 2px;
  		}
}
