.go-back-button {
	height: 28.8px !important;

	border-width: 0.12rem !important;
	border-color: var(--rc-color-primary-button-border-color) !important;
	border-radius: 10rem !important;
	background-color: transparent !important;

	font-size: 24px !important;
	margin-inline-end: 10px !important;

	line-height: 0.5rem !important;
}

.go-back-button .rcx-icon--name-back {
	line-height: unset !important;
	vertical-align: unset !important;	
}

.rcx-box .go-back-button {
	margin-bottom: 4px !important;
}