.go-back-button {
	border-width: 0.12rem !important;
	border-color: var(--rc-color-button-primary) !important;
	border-radius: 10rem !important;
	background-color: transparent !important;

	font-size: 24px !important;
	margin-inline-end: 10px !important;
}
