.grid-of-icons {
	overflow: auto;

	flex: 5 auto;

	margin: 15px 0 0;
}

.cbp-ig-grid {
	margin: 0;

	padding: 0 0 50px;

	list-style: none;
}

.cbp-ig-grid__elem {
	width: 100%;
	height: 136px;

	text-align: center !important;
}

.cbp-ig-grid__elem-button {
	width: 100%;
	height: 100%;

	text-align: center !important;
}

.cbp-ig-grid__elem_icon {
	font-size: 36px;
}

.cbp-ig-grid::before,
.cbp-ig-grid::after {
	display: table;

	content: " ";
}

.cbp-ig-grid::after {
	clear: both;
}

.cbp-ig-grid li {
	float: left;

	width: 20%;
	height: 136px;

	text-align: center;
}

.cbp-ig-grid li > a {
	display: block;

	height: 40%;

	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	transition: background 0.2s;

	color: #47a3da;
}

.cbp-ig-icon {
	display: block;

	padding: 15px 0 0;

	-webkit-transition: -webkit-transform 0.2s;
	transition: -moz-transform 0.2s;
	transition: transform 0.2s;
}

.cbp-ig-icon::before {
	text-transform: none;

	font-size: 7em;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;

	line-height: 1;
	-webkit-font-smoothing: antialiased;
	speak: none;
}

.cbp-ig-grid .cbp-ig-title {
	position: relative;

	margin: 10px 0;
	padding: 10px 0 0;

	-webkit-transition: -webkit-transform 0.2s;
	-moz-transition: -moz-transform 0.2s;
	transition: transform 0.2s;

	font-size: 1em;
}

.cbp-ig-grid .cbp-ig-title::before {
	position: absolute;

	top: 0;
	left: 50%;

	height: 6px;
	margin: -10px 0 0 -80px;

	content: '';

	-webkit-transition: margin-top 0.2s;
	-moz-transition: margin-top 0.2s;
	transition: margin-top 0.2s;

	background: #47a3da;
}

.cbp-ig-grid .cbp-ig-category {
	display: inline-block;

	margin-top: 20px;
	margin-bottom: 10px;

	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-webkit-transition: transform 0.3s, opacity 0.2s;
	-webkit-transform: translateY(10px);

	-moz-transform: -moz-translateY(10px);
	-ms-transform: -ms-translateY(10px);

	transform: translateY(10px);

	letter-spacing: 1px;

	text-transform: uppercase;

	opacity: 0;
	color: #ffffff;

	font-size: 1em;
}

.cbp-ig-grid li:hover .cbp-ig-category,
.touch .cbp-ig-grid li .cbp-ig-category {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);

	opacity: 1;
}

.cbp-ig-grid li > button:hover {
	background: #47a3da;
}

.cbp-ig-grid li > button:hover .cbp-ig-icon {
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
}

.cbp-ig-grid li > button:hover .cbp-ig-icon::before,
.cbp-ig-grid li > button:hover .cbp-ig-title {
	color: #ffffff;
}

.cbp-ig-grid li > button:hover .cbp-ig-title {
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	transform: translateY(-15px);
}

.cbp-ig-grid li > button:hover .cbp-ig-title::before {
	background: #ffffff;
}

@media screen and (max-width: 100em) {
	.cbp-ig-grid li {
		width: 25%;
	}
}

@media screen and (max-width: 80em) {
	.cbp-ig-grid li {
		width: 33%;
	}
}

@media screen and (max-width: 60em) {
	.cbp-ig-grid li {
		width: 50%;
	}
}

@media screen and (max-width: 40em) {
	.cbp-ig-grid li {
		width: 100%;
	}
}

@media screen and (max-width: 20em) {
	.cbp-ig-grid {
		font-size: 40%;
	}

	.cbp-ig-grid .cbp-ig-category {
		margin-top: 20px;
	}
}
