.menu-bar {
    position: relative;
}

.menu {
    position: relative;
    left: 50%;
    float: left;
}

.menu .menu-link:first-child {
    border-left: 2px solid #4e4a59;
}

.menu .menu-link {
    position: relative;
    left: -50%;
    border-right: 2px solid #4e4a59;
    float: left;
}

.menu .menu-link .goToSection {
    height: 70px;
    max-width: 195px;
    display: block;
    color: white;
    word-break: normal;
    white-space: normal;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    text-transform: uppercase;
}
  
.menu .menu-link:hover {
    background-color: #111;
}

.menu .menu-link a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu .menu-link .submenu {
    display: none;
    position: absolute;
    background-color: var(--sidebar-background);
    z-index: 3;
}

.menu .menu-link:hover .submenu {
    display: block;
}

.menu .menu-link:hover {
    background-color: var(--rc-color-primary-darkest);
}

.menu .menu-link .submenu .submenu-link {
    display: block;
}

.icon {
    padding: 14px 16px;
    height: 50px;
    color: white;
    display: none;
}

.icon:hover,
.menu .submenu-link:hover {
    background-color: var(--rc-color-primary-darkest);
}

i:before {
    font-size: 24px;
}

@media screen and (max-width: 1200px) {
    .menu {
        display: none;
    }

    .icon {
        display: table-cell;
        vertical-align: middle;
    }

    .menu.responsive {
        position: absolute;
        display: block;
        z-index: 10000;
        background-color: var(--sidebar-background);
        left: 0%;
        width: 100%;
    }

    .menu.responsive .menu-link .submenu {
        position:relative;
        width:100%;
        z-index: 0;
    }

    .menu.responsive .menu-link {
        float: none;
        left: 0%;
    }

    .menu.responsive .menu-link,
    .menu.responsive .menu-link:first-child {
        border: none;
    }

    .menu.responsive .menu-link .goToSection {
        max-width: 100%;
    }

    .menu.responsive .submenu-link:hover,
    .menu.responsive .submenu-link::selection {
        background-color: var(--rc-color-primary-darkest);
    }
}

@media screen and (max-width: 1620px) {
    .menu .menu-link .goToSection {
        padding: 12px 12px;
        height: 50px;
    }
}