.rcx-button {
    &--primary {
        border-color: var(--rc-color-primary-button-border-color) !important;
        background-color: var(--rc-color-primary-button-color) !important;

        border-radius: 0.25rem !important;
        opacity: 0.9 !important;
        /* height: 40px !important; */
        &-danger {
            border-radius: 0.25rem !important;
            /* height: 40px !important; */
        }
        &:not([disabled]):hover {
            opacity: 1 !important;
        }
    }
}

.rcx-vertical-bar .rcx-button {
    border-radius: 0.25rem !important;
}

.rcx-check-box__input:checked + .rcx-check-box__fake {
    background-color: var(--rc-color-primary-darkest) !important;
    border-color: var(--rc-color-primary-darkest) !important;
}

.rcx-tabs__item--selected {
    color: var(--rc-color-primary-button-color) !important;
    border-bottom-color: var(--rc-color-primary-button-border-color) !important;
}

.toast {
    background-color: var(--color-gray) !important;
}

.rc-old .page-container {
    position: relative !important;
}

@media screen and (max-width: 520px) {
    .rcx-button-group > .rcx-button-group__item {
        margin-inline: 0 !important;
        margin-left: 0 !important;
        margin-right: 0.5rem !important;
    }
}